langchain==0.3.0
langchain-community==0.3.0
langchain-nvidia-ai-endpoints==0.3.0
langchain-chroma==0.2.0
chromadb==0.5.0
python-dotenv==1.0.1
ragas==0.2.0
pandas==2.2.2
tiktoken==0.7.0
datasets==2.20.0
huggingface_hub==0.24.7